.navigation {
  position: relative;

  height: 100%;
}

.navigationClose {
  position: absolute;
  top: var(--gap-s);
  right: var(--gap-s);

  --icon-button-s-size: auto;
}

.navigationWrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: var(--gap-4xl) var(--gap-3xl) var(--gap-2xl);
}

.navigationContent {
  margin-bottom: var(--gap-s);
}

.navigationList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.navigationCopyright {
  margin-top: auto;
  margin-bottom: var(--gap-l);
}

.navigationFooter {
  display: flex;
  align-items: center;
  gap: var(--gap-m);

}

.navigationSocialLink {
  --icon-button-s-size: auto;
  border-radius: 50%;
}


@media screen and (max-width: 768px) {
  .navigationClose {
    top: var(--gap-m);
    right: var(--gap-l);
  }
}

@media screen and (max-width: 480px) {
  .navigationClose {
    top: var(--gap-m);
    right: var(--gap-s);
  }
}