.header {
  position: sticky;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--height-header);
  margin: 0 auto;
  padding: 0 var(--gap-2xl);

  background: var(--color-white);
  gap: var(--gap-2xl);
}

.logo {
  text-decoration: none;

  color: var(--color-text-primary);

  font-size: 32px;
  font-weight: bold;
  line-height: 26px;
}

.sidebarToggle {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;

  padding: 0;

  cursor: pointer;

  border: none;
  background: none;
  gap: var(--gap-xs);
}

.sidebarToggle span {
  letter-spacing: 1px;

  font-family: var(--font-family-styrene);
  font-size: 32px;
  font-weight: bold;
  line-height: 27px;
  font-feature-settings: 'ss01';
}

.sidebarToggle svg {
  width: 32px;
  height: auto;
}

.sidebar {
  background: var(--color-black);
}

@media screen and (max-width: 480px) {
  .sidebar {
    --drawer-width: 100%;
  }

  .sidebarToggle span {
    display: none;
  }
}