.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;
  padding: 14px 30px;

  background: #fff;
  gap: 30px;
}

.logo {
  text-decoration: none;

  color: #ef3124;

  font-size: 32px;
  font-weight: bold;
  line-height: 26px;
}

.menuToggle {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;

  padding: 0;

  cursor: pointer;

  border: none;
  background: none;
  gap: 10px;
}

.menuToggle span {
  letter-spacing: 1px;

  font-family: 'Styrene UI', Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 27px;
  font-feature-settings: 'ss01';
}

.menuToggle svg {
  width: 32px;
  height: auto;
}