.sidebarProducts {
  display: flex;
  flex-direction: column;

  padding: 40px 0;
  gap: 24px;
}

.totalPrice {
  display: block;

  text-align: right;

  font-style: italic;
}

.sidebarNext {
  color: var(--color-text-white);
  border-radius: 0;
  background-color: var(--color-black);
}
